@font-face {
  font-family: "Flexo-Medium";
  src: url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot");
  src: url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.svg#Flexo-Medium")
      format("svg");
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Flexo-Medium";
}

ul {
  padding-inline-start: 0;
  list-style: none;
}

.header-wrapper {
  background-color: #313131;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.header-upper {
  margin-left: 30px;
}

.header-title {
  color: white;
  padding-top: 30px;
}

.search-bar {
  border-style: solid;
  border-radius: 5px;
  border-color: #616161;
  height: 35px;
  margin-bottom: 20px;
}

button {
  padding: 0;
  border: 0;
  background-color: white;
}
.search-button {
  margin-left: 10px;
  background-color: #de662f;
  color: white;
  height: 35px;
  width: 35px;
  border-radius: 5px;
}

.upper-search-blurb,
.lower-search-blurb {
  color: white;
}

.upper-search-blurb {
  margin-top: 100px;
}

.header-lower {
  background-color: #4dad5b;
  max-width: 85%;
  margin-top: 30px;
  border-radius: 5px;
  font-size: 1.375rem;
}

.poke-picture {
  background-color: #f2f2f2;
  max-width: 80%;
  margin: auto;
  display: block;
  border-radius: 5px;
  margin: 5px auto;
}

.poke-number,
.poke-name,
.type-list {
  margin-left: 15%;
}

.poke-number {
  color: #919191;
}
