@font-face {
  font-family: "Flexo-Medium";
  src: url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot");
  src: url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.svg#Flexo-Medium")
      format("svg");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}

html {
  font-family: "Flexo-Medium";
}

ul {
  padding-inline-start: 0;
  list-style: none;
}

button {
  padding: 0;
  border: 0;
  background-color: white;
}

.header {
  width: 100%;
  max-width: 1024px;
  background-color: #fff;
  margin: auto;
}

.nav-desktop {
  display: none;
}

.nav-mobile {
  display: block;
  overflow: hidden;
  z-index: 6;
  color: #464646;
  background: radial-gradient(#3c3c3c, #313131);
  position: relative;
  font-size: 1.125rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1024px;
}

.nav-mobile a.icon {
  color: #444444;
  background-color: #000;
  font-size: 1.5em;
  padding: 15px;
  max-width: 60px;
}

.hamburger-icon {
  font-size: 1.75rem;
  color: #fff;
  background-color: #313131;
  max-width: 60px;
  text-align: center;
  border-right: solid #000 2px;
  line-height: 60px;
}

.login-button {
  color: #fff;
  background-color: #313131;
  font-size: 0.75rem;
  padding: 15px;
  justify-self: right;
  max-width: 50px;
  text-align: center;
}

.nav-list {
  margin-bottom: 20px;
  width: 1024px;
  max-width: 1024px;
}

.nav-mobile #myLinks {
  display: none;
}

.background-white {
  background-color: #fff;
}

.nav-list-item {
  border-left: 5px solid transparent;
  border-bottom: 1px solid #f3f3f3;
  padding: 10px;
}

.nav-list-item::before {
  color: #898989;
  padding: 20px;
  content: "?";
}

.nav-list-item.red {
  border-color: #e3350d;
}

.nav-list-item.orange {
  border-color: #ee6b2f;
}

.nav-list-item.yellow {
  border-color: #e6bc2f;
}

.nav-list-item.green {
  border-color: #4dad5b;
}

.nav-list-item.light-blue {
  border-color: #30a7d7;
}

.nav-list-item.dark-blue {
  border-color: #1b53ba;
}

.nav-list-item.desktop {
  border-left: none;
  border-bottom-width: 5px;
}

.nav-list-item.mobile {
  border-bottom: none;
}

.pokedex-title {
  font-size: 1.875rem;
  background-color: #fff;
  max-width: 1024px;
  min-width: 1024px;
  margin: auto;
  padding: 20px 0 15px 20px;
}

.section {
  width: 100%;
  max-width: 1024px;
  padding: 0 24px;
  margin: 0 auto;
}

.search-header {
  padding: 30px 15px;
  background-color: #313131;
  max-width: 1024px;
  margin: auto;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}

.header-title {
  color: white;
  font-size: 1.625rem;
  margin-bottom: 10px;
}

.header-search-form {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr;
}

.main {
  background-color: #f3f3f3;
}

.main-content {
  padding-top: 40px;
  background-color: #fff;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.search-container {
  width: 100%;
}

.header-label {
  display: block;
  color: white;
  font-size: 1.625rem;
  padding-bottom: 10px;
}

.search-end {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 20px;
}

.search-bar {
  border-style: solid;
  border-radius: 5px;
  border-color: #616161;
  height: 50px;
}

.search-button {
  background-color: #de662f;
  color: white;
  height: 50px;
  width: 60px;
  border-radius: 5px;
  font-size: 1.25rem;
}

.search-subtext,
.search-text {
  color: white;
}

.search-subtext {
  font-size: 1.125rem;
}

.search-text {
  display: block;
  background-color: #4dad5b;
  border-radius: 5px;
  padding: 25px;
  font-size: 1.25rem;
}

.drop-down-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto 40px;
}

.drop-down-text {
  color: #a4a4a4;
  font-size: 1.25rem;
}

.sort-select {
  background-color: #313131;
  padding: 0 15px;
  color: white;
  font-size: 1rem;
  height: 50px;
  width: 100%;
  border-radius: 5px;
}

.poke-picture {
  background-color: #f2f2f2;
  width: 100%;
  display: block;
  border-radius: 5px;
  margin: 5px auto;
}

.poke-number,
.pokedex-title {
  color: #919191;
}

.poke-name {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 900;
}

.type-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  grid-gap: 5px;
}

.type-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 0.75rem;
  height: 20px;
  width: 100px;
}

.poison,
.fire,
.water,
.bug {
  color: #fff;
}

.grass {
  background-color: #9bcc50;
}

.poison {
  background-color: #b97fc9;
}

.fire {
  background-color: #fd7d24;
}

.flying {
  background: linear-gradient(0deg, #3dc7ef 50%, #bdb9b8 0%);
}

.water {
  background-color: #4592c4;
}

.bug {
  background-color: #729f3f;
}

.more-pokemon-button-wrapper {
  max-width: 80%;
  margin: 10px auto auto auto;
}

.more-pokemon-button {
  background-color: #30a7d7;
  color: white;
  max-width: 100%;
  display: block;
  border-radius: 5px;
  margin: 50px auto 50px auto;
  padding: 10px;
}

.poke-wrapper {
  gap: 50px 15px;
  display: grid;
}

@media only screen and (min-width: 768px) {
  .drop-down-wrapper {
    max-width: 100%;
    justify-content: end;
    grid-template-columns: auto max-content;
  }

  .header-content {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .sort-select {
    width: 300px;
  }

  .poke-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1080px) {
  .nav-mobile {
    display: none;
  }

  .nav-desktop {
    display: block;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background: #fff;
  }

  .nav-list-desktop {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .nav-list-item-desktop {
    border-left: none;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 20px;
  }

  .nav-list-item-red-desktop {
    border-bottom: 5px solid #e3350d;
  }

  .nav-list-item-red-desktop:hover {
    background-color: #e3350d;
  }

  .nav-list-item-orange-desktop {
    border-bottom: 5px solid #ee6b2f;
  }

  .nav-list-item-orange-desktop:hover {
    background-color: #ee6b2f;
  }

  .nav-list-item-yellow-desktop {
    border-bottom: 5px solid #e6bc2f;
  }

  .nav-list-item-yellow-desktop:hover {
    background-color: #e6bc2f;
  }

  .nav-list-item-green-desktop {
    border-bottom: 5px solid #4dad5b;
  }

  .nav-list-item-green-desktop:hover {
    background-color: #4dad5b;
  }

  .nav-list-item-light-blue-desktop {
    border-bottom: 5px solid #30a7d7;
  }

  .nav-list-item-light-blue-desktop:hover {
    background-color: #30a7d7;
  }

  .nav-list-item-dark-blue-desktop {
    border-bottom: 5px solid #1b53ba;
  }

  .nav-list-item-dark-blue-desktop:hover {
    background-color: #1b53ba;
  }

  .nav-list-item-red-desktop::before,
  .nav-list-item-orange-desktop::before,
  .nav-list-item-yellow-desktop::before,
  .nav-list-item-green-desktop::before,
  .nav-list-item-light-blue-desktop::before,
  .nav-list-item-dark-blue-desktop::before {
    display: block;
    content: "?";
    padding: 20px 0 10px 0;
  }

  .pokedex-title {
    display: block;
  }

  .poke-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.navigation-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  z-index: 5;
}

.hidden {
  display: none;
}

.navOpened {
  overflow: hidden;
}
